<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>AdStat</title>
<link type="text/css" rel="stylesheet" href="GwtTests.css">
<script type="text/javascript" src="dygraph-combined.js"></script>
<script type="text/javascript" src="util.js"></script>

</head>
<body>

	<noscript>
		<div
			style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
			Your web browser must have JavaScript enabled in order for this
			application to display correctly.</div>
	</noscript>
	&nbsp;
	<div align="center">
		<table>
			<tr>
				<td>
					<div style="width: 550px; height: 350px">
						<table class="textualData">
							<tr>
								<td><b><font size="4">ad scraper statistics</font></b></td>
								<td></td>
							</tr>
							<tr>
								<td>For advertisements matching search criteria</td>
								<td></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td></td>
							</tr>
							<tr>
								<td>scraping since</td>
								<td id="uptime"></td>
								<td></td>
							</tr>
							<tr>
								<td>ads scraped</td>
								<td id="adsscraped"></td>
								<td></td>
							</tr>

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td valign="top">sites scraped</td>
								<td id="urlsScraped"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td><font id="statusMsg" color="red"></font></td>
								<td></td>
							</tr>
						</table>
			</div>
			</td>

			<td><div id="dygByDayOfWeek"
					style="width: 550px; height: 350px;"></div></td>
			</tr>
			<tr class="initiallyInvisible">
				<td>&nbsp;</td>
				<td><div align="center">
						<font size="2"> 1..Monday, 7..Sunday, with standard
							deviation</font>
					</div></td>
			</tr>
		</table>
		<hr class="initiallyInvisible" size="1">
		<table class="initiallyInvisible">
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
					<div align="left">
						<font size="3">Aggregated&nbsp;&nbsp;<br /></font>
					</div> <input type=checkbox id="0" checked onClick="change(this)">
					<label for="0"> by day&nbsp;&nbsp;</label><br /> <input
					type=checkbox id="1" onClick="change(this)"> <label for="1">
						by week&nbsp;</label><br /> <br />



					<div align="left">
						<font size="2">Set the period for rolling
							average&nbsp;&nbsp; <br> at point 0 of the Y-scale.
						</font>
					</div>
					<div align="left">
						<font size="2"><br>Weekends highlighted (green).</font>
					</div>

				</td>
				<td id="tdDygByDay"></td>
			</tr>
		</table>
		<hr  class="initiallyInvisible" size="1">
		<table class="initiallyInvisible">
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><font size="2">Between 22:30 and 07:30 there were no
						<br>scans scheduled for a while and all ads <br> from
						the night got detected in the morning. <br>Therefore the
						unnatural spike at 7:00.<br>
				</font></td>


				<td><div id="dygHours" style="width: 800px; height: 350px;"></div></td>
			</tr>
		</table>
	</div>

	<script type="text/javascript">
		setVisibility("initiallyInvisible", "hidden");
		setStatusInfo("Retrieving time series...");
		
		statData = getStatData();
		
		setStatusInfo("");
		setVisibility("initiallyInvisible", "visible");

		function setVisibility(clsname, value)
		{
			var x = document.getElementsByClassName(clsname);
			var i;
			for (i = 0; i < x.length; i++) {
			    x[i].style.visibility = value;
			}
		}
		
		function init() {

			document.getElementById("0").checked = true;
			document.getElementById("1").checked = false;

			setStatValues(statData);

			resetDygDayOrWeek(statData.byDay);

			dygIntervals(document.getElementById("dygHours"),
					'aggregated per hour of day', statData.byHourOfDay);
			dygDeviation(document.getElementById("dygByDayOfWeek"),
					'average number of ads per day of week',
					statData.byDayOfWeek);

		}

		function resetDygDayOrWeek(dayOrWeekData) {
			document.getElementById("tdDygByDay").innerHTML = "<div id=\"dygByDay\" style=\"width: 900px; height: 350px;\"></div>";
			dygRangeSelector(dayOrWeekData, 'advertisements per day/week');
		}

		function change(el) {
			if (el.checked)
				switch (parseInt(el.id)) {
				case 0:
					document.getElementById("1").checked = false;
					resetDygDayOrWeek(statData.byDay);
					break;
				case 1:
					document.getElementById("0").checked = false;
					resetDygDayOrWeek(statData.byWeek);
					break;
				default:
					;
				}
		}

		function getStatData() {
			var prefixFile = "file";
			var dataUrl = document.URL.replace("Statistics.html", "statData");

			if (dataUrl.indexOf(prefixFile) === 0)
				dataUrl = "http://1-dot-sniffbazar.appspot.com/statData";

			val = httpGet(dataUrl);
			if (!val.success) {
				setStatusInfo(val.data + " requesting " + dataUrl);
				throw "fuckin http error" + val.data;
			}
			return JSON.parse(val.data);
		}

		function dygRangeSelector(dataD, titleText) {
			return new Dygraph(document.getElementById("dygByDay"), dataD.rows,
					{
						rollPeriod : 1,
						showRoller : true,
						title : titleText,
						titleHeight : 25,
						ylabel : 'number of ads',
						legend : 'always',
						labelsDivStyles : {
							'textAlign' : 'right'
						},
						showRangeSelector : true,
						labels : dataD.cols,
						axes : {
							x : {
								valueFormatter : Dygraph.dateString_,
								axisLabelFormatter : Dygraph.dateAxisFormatter,
								ticker : Dygraph.dateTicker
							}
						},
						underlayCallback : highlightWeekends
					});
		}

		function dygIntervals(element, dtitle, intervalData) {

			return new Dygraph(element, intervalData.rows, {
				title : dtitle,
				titleHeight : 25,
				labelsDivStyles : {
					'textAlign' : 'right'
				},
				labels : intervalData.cols
			});
		}

		function dygDeviation(element, dtitle, devData) {

			return new Dygraph(element, devData.rows, {
				title : dtitle,
				titleHeight : 25,
				labelsDivStyles : {
					'textAlign' : 'right'
				},
				labels : devData.cols,
				customBars : true,
				errorBars : true
			});
		}

		function getLinksUrlsScraped(urlids, urls) {
			var result = "";

			for (var i = 0; i < urlids.length; i++)
				result = result + '<a href="' + urls[i] + '" target="_blank">'
						+ urlids[i] + '</a><br>';

			return result;

		}

		function setStatValues(statData) {
			document.getElementById("adsscraped").innerHTML = getAdCount(statData);
			document.getElementById("uptime").innerHTML = getRunningSince(statData);
			document.getElementById("urlsScraped").innerHTML = getLinksUrlsScraped(
					statData.scanUrls.urlids, statData.scanUrls.urls);
		}

		function setStatusInfo(msg) {
			document.getElementById("statusMsg").innerHTML = msg;
		}

		init();
	</script>
</body>
</html>